select{
    text-align: center;
    margin-left: 45%;
    margin-top: 15px;
}

h2{
    text-align: center;
    font-size: 15px;
    margin-bottom: 2px;
}
header h1{
    text-align: center;
    font-size: 50px;
}
.photo{
    width: 200px;
    margin: 0 ;
    float: left;
    margin-bottom: 50px;
    margin-left: 10px;
}
#page1 , #page2 {
    margin: 15px 0px 15px 450px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    border: black;
    padding: auto;
    }
    header nav {
        display: flex;
        flex-direction: row;
    }
    main{
        display: flex;
    flex-wrap: wrap;
    margin: 10px 7px 10px 30px;
    text-align: center;
    width: 100%;
    height: auto;
    }